body{
color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
li{ list-style-type: none;}

.raleway{color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
     letter-spacing: 0.54px;
    text-transform: uppercase;}
.header-logo{
color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.header-navigation {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.address{

}
.address-menu-list{}
.address-menu-item{}
.address-link{
color: var(--SLATE, #434455);
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.main{

}
.section-one{

}
.section-one-name{
font-family: Roboto; 
font-weight: Bold;
letter-spacing: 2%; 
line-height: 60px;
}
.section-one-button{

}
.section-two{

}
.section-two-name{

}


















